<!-- jinja code : django expersion -->
{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <h1>Welcome to Contact</h1>
    <!-- post secure method submit data -->
     {% if msg %}
     <b style="color: blue;" >{{msg}}</b>
    {% endif %}
    <form method="post" action="{% url 'contact' %}">
        {%  csrf_token %}
        <table>
            <tr>
                <td>Name </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email </td>
                <td><input type="email" name="email"></td>
            </tr>
             <tr>
                <td>mobile </td>
                <td><input type="tel" name="mobile"></td>
            </tr>
             <tr>
                <td>Remarks </td>
                <td><textarea rows="5" cols="22" name="remarks" id=""></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="SUMBIT">
                </td>
            </tr>
        </table>
    </form>
</body>

<h1>Recent Contects</h1>
<hr>
{% for contact in contacts %}
    <h4><strong>{{ contact.name }}</strong></h4>
    <p>{{ contact.remarks }}</p>
{% endfor %}
</html>
{% endblock %}